@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}


a{
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

main{
    margin: 0 auto; 
    flex-direction: column;
}

body,
.home{
    display: grid;
}

.home{
    grid-template-areas: 
        "header"
        "main-section"
        "footer";
    grid-template-rows: 100vh 1fr 600px;
    grid-template-columns: 100vw;
}

/* Font sizes */

.text-m{
    font-size: 1.2rem;
}

.text-xl{
    font-size: 2.5rem;
}

/* Buttons */
.btn{
    display: inline-block;
    padding: 1rem;
    color: white;
    font-weight: 700;
    background-color: rgba(241, 193, 34, 0.8);
    border-radius: 6px;
}

.btn--cta{
    font-size: 1.4rem;
}

.rounded{
    border-radius: 8px;
}


/* Containers */
.inner_container{
    width: 90%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navigation */

.logo{
    height: 100%;
    vertical-align: middle;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

.nav__links{
    display: flex;
}

.nav__link{
    padding: 6px 4px;
    margin-left: 15px;
}

.nav__link:hover{
    border-bottom: 1px solid red;
}

/* Header */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.hero_header{
    background-image: 
        linear-gradient(
            transparent,
            rgba(0, 0, 0, 0.2)
        ),
        url(../images/hero-dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__info{
    width: auto;
    text-align: center;
    margin: auto 0 200px;
    flex-direction: column;
    gap: 10px;
}

.hero__info .title{
    min-width: 90%;
}


/* Banner Section */

.banners,
.banner--info{
    width: 50%;
}

.banners{
    flex-direction: column;
    height: 700px; /* Cambiar alto por pixeles fijos*/
}

.banner--info{
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.banner{
    position: relative;
    width: 500px;
    height: 170px;
    margin: 2rem 0;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.banner--info h2{
    padding-bottom: 1rem;
}

.banner--info p{
    line-height: 1.5rem;
}


.banner h3{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    line-height: 170px;
    color: #f8f8f8;
    font-size: 2rem;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

/* Adoption section */
.adoption-section{
    width: 100%;
    height: 600px;
    background-color: rgb(255, 244, 214);
}

.adoption--info{
    width: 40%;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.adoption--images{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 576px){
    .nav{
        align-items: stretch;
        padding: .2rem 2rem;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    
    .nav__links{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav__link{
        display: inline-block;
        margin-left: 0px;
    }
    
    .hero__info{
        margin: auto 0 100px;
    }

    .btn--cta{
        font-size: 1.1rem;
    }


    /* Banners */

    .banner-section{
        display: flex;
        flex-direction: column;
    }
    .banner--info{
        order: 1;
        padding: 2rem 0;
        width: 80%;
    }
    .banners{
        order: 2;
        height: 400px;
    }
    .banner{
        width: 100vw;
    }
    .banner h3{
        font-size: 1.7rem;
    }
    
}

